* {
  box-sizing: border-box;
}

body {
  background-image: url("assets/sky.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#image-background {
  position: fixed;

  width: 100vw;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

#page-content {
  position: fixed;
  display: flex;

  width: 100vw;
  height: 100vh;

  color: #fff;

  background-color: rgba(0,0,0,.8);

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#masthead {
  align-self: flex-start;

  margin-left: 50px;
  margin-top: 20px;
}

#data {
  flex-grow: 1;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#freeze {
  margin-top: -3rem;
  margin-left: -3rem;

  font-family: 'Playfair Display', serif;
  font-size: 20rem;
  font-weight: 900;
  font-style: italic;

  line-height: 15rem;
  letter-spacing: -3rem;

  -webkit-flex-basis: auto;
}

h1 {
  margin: 0;

  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  font-weight: 900;
}

h2 {
  margin: 0;

  font-family: 'Playfair Display', serif;
  font-size: 1em;
  font-weight: 400;
}

.forecastio {
  font-weight: 700;
  color: #5591df;
}

.flickr {
  font-weight: 700;
  color: #ff0084;
}

#temps {
  display: flex;

  flex-direction: row;
  justify-content: center;

  margin-top: 5rem;
}

.temp {
  min-width: 5rem;

  margin-left: .75rem;
  margin-right: .75rem;

  display: flex;

  flex-direction: column;
  align-items: center;
}

.temp span {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
}

.temp h2 {
  font-weight: 400;
  text-align: center;
}